.sui-steps {
  font-size: 0px;
  overflow: hidden;
  line-height: 0px;
  margin: 18px 0px;
}
.sui-steps .wrap {
  display: inline-block;
}
.sui-steps .wrap > div {
  width: 195px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  vertical-align: top;
  font-size: 12px;
  position: relative;
}
.sui-steps .wrap > div > label {
  margin-left: 26px;
  cursor: default;
}
.sui-steps .triangle-right {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 16px;
  position: absolute;
  right: -31px;
  z-index: 1;
}
.sui-steps .triangle-right-bg {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 16px;
  position: absolute;
  right: -31px;
  z-index: 1;
  border-width: 20px;
  right: -40px;
  border-color: transparent transparent transparent #FFF;
  top: -4px;
}
.sui-steps .round {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  line-height: 16px;
}
.sui-steps .round .sui-icon {
  vertical-align: -1px;
}
.sui-steps .round + span:before {
  content: '\00a0';
}
.sui-steps .finished {
  background-color: #28a3ef;
  color: #ffffff;
}
.sui-steps .finished .triangle-right {
  border-color: transparent transparent transparent #28a3ef;
}
.sui-steps .finished .round {
  background-color: #ffffff;
  background-color: transparent\9;
  color: #28a3ef;
}
.sui-steps .finished .round > i {
  color: #28a3ef;
  font-size: 12px;
}
.sui-steps .current {
  background-color: #4cb9fc;
  color: #ffffff;
}
.sui-steps .current .triangle-right {
  border-color: transparent transparent transparent #4cb9fc;
}
.sui-steps .current .round {
  background-color: #ffffff;
  color: #4cb9fc;
  color: #FFF\9;
  background-color: transparent\9;
}
.sui-steps .todo {
  background-color: #eeeeee;
  color: #999999;
}
.sui-steps .todo .triangle-right {
  border-color: transparent transparent transparent #eeeeee;
}
.sui-steps .todo .round {
  background-color: #ffffff;
  background-color: transparent\9;
}
.steps-large .wrap > div {
  font-size: 14px;
  width: 243.75px;
  height: 40px;
  line-height: 40px;
}
.steps-large .wrap > div > label {
  font-size: 14px;
  margin-left: 30px;
}
.steps-large .triangle-right {
  border-width: 20px;
  right: -39px;
}
.steps-large .triangle-right-bg {
  border-width: 24px;
  right: -48px;
}
.steps-large .round {
  width: 18px;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.steps-auto {
  display: table;
  width: 100%;
}
.steps-auto .wrap {
  /* display: table-cell; */
}
.steps-auto .wrap > div {
  width: 100%;
}
.sui-steps .row .col-md-3{padding-right: 0; padding-left: 0;}